@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Raleway:100,200,300,400,500,600,700');

/*-- Alignments -------------------------------------*/

.text-center {
    text-align: center;
}

.h1-margin {
    margin-top: 150px;
    margin-bottom: 50px;
}

/*--- font-styles -------------------------------------*/

.font-raleway {
    font-family: 'Raleway', sans-serif;
}

/*--- colors -------------------------------------*/
.light-black {
    color: #2B2A2A;
}

/*--- Header Style -------------------------------------*/

header {
    margin: 0;
}

    /*-- Logo --*/
#logo {
    color: #2B2A2A;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 50px;
    margin-left: 0px;
    text-align: left;
    letter-spacing: 2px;
    padding: 0;
}

    /*--- Navigation --*/

.navbar-nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: right;
    color: #212529;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: center;
    list-style: inside;
    background-color: #f8f9fa;
    background-clip: padding-box;
    border: none;
}

.dropdown-menu:hover {
    background-color: #fff;
}

.nav-item {
    padding-right: 40px;
}


.nav {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #212529;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
    }

.nav-link {
    padding-right: 50px;
    color: #fff;
}

.active {
    text-decoration: underline;
}

/* -- index.html -------------------------------------*/

.bg-heroimage {
    background-image: url('/assets/images/heroimage.jpg');
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    height: 650px;
    opacity: 0.9;
    margin-top: 60px;
}

.text-adjust {
    margin-top: 100px;
}

.text-style-h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    color: black;
}

.text-style-h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: black;
    margin-top: 20px;
}

.info-box {
    margin: 100px 50px 50px 50px;
    color: #2B2A2A;
    padding: 1rem;
    border: solid #fff 1px;
    border-radius: 20px;
    text-align: center;
    display: block;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    background-color: rgba(248,249,250, 0.5)
}

.info-box-2 {
    margin: 25px 150px 50px 150px;
    color: #2B2A2A;
    padding: 1rem;
    text-align: center;
    display: block;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

/*--Section Menu (4 choices)--*/

.section-menu {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 250px;
    margin: 5px;
    padding: 0;
    border-radius: 20px;
}

.btn {
    background-color: rgba(248,249,250, 0.5);
    border: solid 1px #fff;
    border-radius: 20px;
    color: #2B2A2A;
    padding-top: 14px;
    padding-bottom: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-align: center;
    position: static;
    width: 160px;
    height: 80px;
    margin-left: -25px;
}

.section-menu-text {
    height: 20px;
    width: 100px;
    margin: -20px -50px;
    position: relative;
    top: 50%;
    left: 50%;
}

/*
.section-menu-text a {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #2B2A2A;
    padding-right: 20px;
}

.section-menu-text:hover {
    background-color: rgb(248,249,250, 0.5);
    color: black;
    border: solid #fff 1px;
}
*/
.section-menu:hover {
    opacity: 0.7;
}

.btn:hover {
    background-color: rgb(248,249,250);
    color: black;
    border: solid black 1px;
    opacity: 1;
}

.section-menu-route {
    background-image: url('/assets/images/route.jpg');
}

.section-menu-accommodation {
    background-image: url('/assets/images/accommodation.jpg');
}

.section-menu-lotr {
    background-image: url('/assets/images/lotr.jpg');
}

.section-menu-gallery {
    background-image: url('/assets/images/gallery.jpg');
}


/*-- Section button homepage --*/

.cta-homepage {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 50px;
    margin-top: 50px;
}

.cta-homepage a {
    border: solid black 1px;
    border-radius: 20px;
    padding: 10px;
    color: black;
    background-color: #f8f9fa;
    text-decoration: none;
}

/*-- Finding Accommodations --*/

.tips-list {
    border: solid 1px #2B2A2A;
    border-radius: 20px;
    margin: 20px 10px;
    display: block;
    max-width: 600px;
    padding-top: 10px;
    font-family: 'Raleway', sans-serif;
}

.list-image {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: solid black 1px;
    border-radius: 20px;
}

.tips-list li {
    margin-top: 5px;
}

.bg-accommodation {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}

/*-- Highlights --*/

.bg-highlights {
    background-image: url('/assets/images/tongariro-vulcano.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    margin-bottom: 20px;
}

.style-img-highlights {
    max-width: 75%;
    max-height: auto;
    border-radius: 20px;
    margin-bottom: 20px;
}

.highlights-style {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 2em;
    text-decoration: none;
    color: black;
}
.highlights-style a {
    color: black;
}
/*
table {
    margin-top: 20px;
}

table tr {
    padding-right: 20px;
    padding-bottom: 10px;
}

table td {
    padding-right: 20px;
    font-family: 'Raleway', sans-serif;
    vertical-align: top;
}*/


/*-- Contact page --*/
@media only screen and (min-width: 600px) {
div form {
    margin-right: 10rem;
    margin-left: 10rem;
}
}

.bg-contact {
    background-image: url('/assets/images/bg-contact.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;

}

/*-- Media queries */
@media only screen and (max-width: 600px) {
   .h1-margin {
    margin-top: 120px;
    margin-bottom: 50px;
}
   
    #logo {
    font-size: 12px;
    font-weight: 600;
    margin-right: 20px;
    }
   
    .dropdown-menu {
    top: 100%;
    left: 0;
    z-index: 1000;
    min-width: 10rem;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: right;
    list-style: none;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    }
    .dropdown-item {
        padding-bottom: 2px;
        text-decoration: underline;
        font-size: 14px;
        margin-top: 7px;
    }
    .nav-item {
        font-size: 14px;
    }
    .first-dd-item {
        margin-top: 0;
    }

    .bg-heroimage {
        height: auto;
        margin-top: 0;
    }

    .info-box {
    margin: 20px 50px;
    color: #2B2A2A;
    padding: 1rem;
    border: solid #fff 1px;
    border-radius: 20px;
    text-align: center;
    display: block;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    background-color: rgb(248,249,250, 0.5)
}

.info-box-2 {
    margin: 50px 50px 0px 50px;
}

.text-adjust {
    margin-top: 80px;
}

.list-image {
    display: none;
}

.style-img-highlights {
    max-width: 100%;
}

div form {
    margin-right: 2rem;
    margin-left: 2rem;
}

}
/*--- Footer Style -------------------------------------*/

footer{
    color: #2B2A2A;
    font-family: 'Montserrat', sans-serif;
    padding-right: 15px;
    padding-left: 15px;    
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px;
    text-align: left;
    width: 100%;
}

footer p {

    font-size: 13px;
    text-transform: none;
    font-family: 'Raleway', sans-serif;
}

footer h6 {
    text-transform: uppercase;
    text-decoration: dotted underline;
}

footer i {
    color: #2B2A2A;
    font-size: 20px;
}

footer a {
    color: #2B2A2A;
}

footer a:hover {
    color: lightgrey;
}
