@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Raleway:100,200,300,400,500,600,700');

/*-- Header Style --*/

header {
    margin: 0;
    border-bottom: 1px solid rgba(70, 70, 70, 0.2);
}

/*--- Footer Style --*/

footer {
    color: #464646;
    font-family: 'Montserrat', sans-serif;
    padding-right: 15px;
    padding-left: 15px;    
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: left;
    width: 100%;
    border-top: 1px solid rgba(70, 70, 70, 0.2);
}

footer p {

    font-size: 13px;
    text-transform: none;
    font-family: 'Raleway', sans-serif;
}

footer h6 {
    text-transform: uppercase;
    text-decoration: dotted underline;
}

footer i {
    color: #464646;
    font-size: 20px;
}

footer a {
    color: #464646;
}

footer a:hover {
    color: black;
}

/*-- Body/Body Elements Style --*/

body {
    background-color: #ededed;
}

p {
    font-family: 'Raleway', sans-serif;
}

hr {
    margin-right: 5rem;
    margin-left: 5rem;
}

a {
    text-decoration: none;
    color: #464646;
}

table a:hover {
    color: #464646;
    font-weight: 600;
}

/*-- Headlines Style --*/

h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #464646;
}

/*.text-style-h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    color: #464646;
    letter-spacing: 2px;
}*/

h3 {
    font-family: 'Raleway', sans-serif;
    color: #464646;
}

h5 {
    font-family: 'Raleway', sans-serif;
    color: #464646;
}

/*-- Alignments --*/

.text-center {
    text-align: center;
}

.h1-margin {
    margin-top: 100px;
    margin-bottom: 50px;
}

.margin-bottom-top {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.no-padding {
    padding: 0;
}

/*-- Colors --*/

/*
text-color: #464646
bg header & footer: #f9f9f9
bg body: #ededed */

.bg-alabaster {
    background-color: #f9f9f9;
}

.bg-page-header-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
}

/*-- Logo --*/

#logo {
    color: #464646;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 50px;
    margin-left: 0px;
    text-align: left;
    letter-spacing: 2px;
    padding: 0;
}

/*-- Navigation Bar Style --*/

.navbar-nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: right;
}

.dropdown-menu {
    top: 100%;
    left: 0;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #464646;
    text-align: center;
    list-style: inside;
    background-color: #f8f9fa;
    background-clip: padding-box;
    border: none;
}

.dropdown-menu:hover {
    background-color: #f9f9f9;
    color: #464646;
}

.nav-item {
    padding-right: 40px;
}


.nav {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
    }

.nav-link {
    padding-right: 50px;
    color: #464646;
}

.active {
    border-bottom: 1px solid #464646;
    padding-bottom: 3px;
}

/*-- CTA --*/

.cta-homepage {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.cta-homepage a {
    border: solid black 1px;
    border-radius: 20px;
    padding: 10px;
    color: black;
    background-color: #f8f9fa;
    text-decoration: none;
}

/* -- index.html --*/

.bg-heroimage {
    background-image: url('/MS1-Discover-NZ/assets/images/heroimage.jpg');
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    height: auto;
    margin-top: 60px;
}

.info-box-2 {
    margin: 0 10rem;
    color: #464646;
    padding: 40px 80px;
    display: block;
    position: relative;
}

.info-box-2 h3{
    text-align: center;
}

.section-menu-route {
    background-image: url('/MS1-Discover-NZ/assets/images/route.jpg');
    background-color: black;
}

.section-menu-accommodation {
    background-image: url('/MS1-Discover-NZ/assets/images/accommodation.jpg');
    background-color: black;
}

.section-menu-lotr {
    background-image: url('/MS1-Discover-NZ/assets/images/lotr.jpg');
    background-color: black;
}

.section-menu-gallery {
    background-image: url('/MS1-Discover-NZ/assets/images/gallery.jpg');
    background-color: black;
}

.selector-bg {
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 250px;    
    opacity: 0.9;
}

.selector-bg h3 {
    position: relative;
    top: 50%;
    font-size: 1.5rem;
    font-weight: 400;
    color: #464646;
    border: 1px solid #464646;
    padding: 2px 1px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgba(248,249,250, 0.7);
}

/*-- route.html --*/

.img-route {
    width: 100%;
    height: 100%;
}

.route-style {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding: 1rem 2rem 0 2rem;
    font-size: smaller;
    width: 500px;
}

.route-style h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.route-p-style {
    padding: 2rem;
    font-weight: 500;
    font-size: large;
}

/*-- accommodation.html --*/

.tips-list {
    border: solid #fff 1px;
    border-radius: 20px;
    margin: 20px 10px;
    display: block;
    max-width: 600px;
    padding-top: 10px;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(248,249,250, 0.8);
    padding: 1rem;
    font-weight: 500;
}

.recommend-list {
    margin: 40px 100px 0 100px;
    display: block;
    padding-top: 10px;
    font-family: 'Raleway', sans-serif;
    padding: 1rem;
    font-weight: 500;
}

.recommend-list p {
    font-weight: 300;
}

.tips-list li {
    margin-top: 5px;
}

/*-- highlights.html --*/

.bg-highlights {
    background-image: url('/MS1-Discover-NZ/assets/images/tongariro-vulcano.jpg');
    background-color: black;
    margin-bottom: 20px;
}

.highlights-img-style {
    max-width: 100%;
    max-height: auto;
    margin-bottom: 20px;
}

.highlights-style {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 2em;
    text-decoration: none;
    color: black;
    padding: 2rem 2rem 1rem 2rem;
}

.highlights-style h3 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 1rem;
}

/*-- contact.html --*/

.contact-h5-style {
    font-weight: 400;
}

div form {
    border: 1px solid white;
    padding: 10px;
    color: black;
    border-radius: 20px;
    background-color: rgba(248,249,250, 0.7);
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.bg-contact {
    background-image: url('/MS1-Discover-NZ//assets/images/bg-contact.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
    height: auto;
    width: 100%;
    padding-bottom: 5rem;
}

.btn:hover {
    background-color: #8f999f;
    color: white;
    border: solid #DCDCE4 1px;
    opacity: 1;
}

/*-- gallery.html --*/

#image-gallery {
    clear: both;
    line-height: 0;
    column-count: 2;
    column-gap: 1px;
    margin-right: 80px;
    margin-left: 80px;
}

#image-gallery img {
    width: 100%;
    margin-bottom: 1px;
}

/*-- lotr.html --*/

.h6-lotr {
    margin: 2rem 5rem;
    font-family: 'Raleway', sans-serif;
    color: #464646;
    font-weight: 200;
}

.bg-mordor {
    background-image: url('/MS1-Discover-NZ/assets/images/lotr/lotr-mtdoom.jpg');
    background-color: black;
    margin-bottom: 5px;
}

.bg-hobbiton {
    background-image: url('/MS1-Discover-NZ/assets/images/lotr/lotr-hobbiton.jpg');
    background-color: black;
    margin-bottom: 5px;
}

.bg-isengard {
    background-image: url('/MS1-Discover-NZ/assets/images/lotr/lotr-isengard.jpg');
    background-color: black;
    margin-bottom: 5px;
}

.bg-anduin {
    background-image: url('/MS1-Discover-NZ/assets/images/lotr/lotr-anduin.jpg');
    background-color: black;
    margin-bottom: 5px;
}

.bg-ithilien {
    background-image: url('/MS1-Discover-NZ/assets/images/lotr/lotr-ithilien.jpg');
    background-color: black;
    margin-bottom: 5px;
}

.content-style-lotr {
    border: solid #fff 1px;
    border-radius: 20px;
    margin: 20px 10px;
    display: block;
    max-width: 600px;
    padding-top: 10px;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(248,249,250, 0.8);
    padding: 1rem;
    font-weight: 500;
}


/*-- Media queries */
@media only screen and (max-width: 600px) {
   h1 {
       font-size: 25px;
   }

   h3 {
       font-size: 1.5rem;
       font-weight: 600;
   }

    .h1-margin {
    margin-top: 85px;
    margin-bottom: 50px;
}
   
    #logo {
    font-size: 12px;
    font-weight: 600;
    margin-right: 20px;
    }
   
    .dropdown-menu {
    top: 100%;
    left: 0;
    z-index: 1000;
    min-width: 10rem;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: right;
    list-style: none;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    }
    .dropdown-item {
        padding-bottom: 2px;
        text-decoration: underline;
        font-size: 14px;
        margin-top: 7px;
    }
    .nav-item {
        font-size: 14px;
    }
    .first-dd-item {
        margin-top: 0;
    }

    .bg-heroimage {
        height: auto;
        margin-top: 0;
    }

    .info-box {
    margin: 80px 20px;
    color: #464646;
    padding: 1rem;
    border: solid #fff 1px;
    border-radius: 20px;
    text-align: center;
    display: block;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    background-color: rgb(248,249,250, 0.7)
}

.info-box-2 {
    margin: 2rem 1rem 0 1rem;
    padding: 1rem;
    text-align: justify;
}

.selector-bg {
    width: 100%;
    height: 250px;
}

.text-adjust {
    margin-top: 80px;
}

.list-image {
    display: none;
}

.style-img-highlights {
    max-width: 100%;
}

div form {
    margin-right: 2rem;
    margin-left: 2rem;
}

#image-gallery {
    clear: both;
    column-count: 1;
    column-gap: 1px;
    row-gap: 1px;
    margin-top: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

#image-gallery img {
    width: 100%;
}

.h6-lotr {
    margin: 0 2rem 1rem 2rem;
}

.content-style-lotr {
    font-size: smaller;
}

.cta-homepage {
    margin: 2rem;
}

}


/*-- Media Queries --*/

/*-- Media Query for index.html (Desktop) --*/

@media only screen and (min-width: 600px) {
.info-box {
    margin: 5rem 10rem;
    color: #464646;
    padding: 2rem 2rem 0 2rem;
    border: solid rgb(248,249,250) 1px;
    border-radius: 20px;
    display: block;
    font-size: 18px;
    position: relative;
    background-color: rgba(248,249,250, 0.8)
}


.info-box h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    color: #464646;
}

.info-box p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 2rem;
    color: #464646;
}
}

/*-- Media query for contact.html (Desktop) --*/
@media only screen and (min-width: 600px) {
div form {
    margin-right: 15rem;
    margin-left: 15rem;
}

.contact-h5-margin {
    margin-left: 15rem;
    margin-right: 15rem;
}
}

/*-- External Sources --*/

/*-- copied from hover.css (reference here) --*/

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}